
div.rentals {
  float: none;
  clear: both;
}

ul.rentals {
  float: none;
  clear: both;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  list-style: none;
}
li.rental {
  margin-top: 12px;
  height: auto;
}
/*
li.rental:nth-child(even) {
}
*/
div.content {
  float: none;
  clear:both;
  border-radius: 8px;
  background-color: #eee;
  display: inline-block;
  max-width: 1024px;
}

div.image {
  float: left;
  margin: 12px;
  background-color: #eee;
  border-radius: 6px;
}

img {
  display: block;
  padding: auto;
  margin: auto;
  max-width: 420px;
  max-height: 328px;
  border-radius: 6px;
  border-color: Transparent;
}

div.desc {
  float: left;
  margin: 12px 0px 0px 12px;
  background: solid;
  border-radius: 6px;
  background-color: #eee;
}

div.features {
  float: left;
  margin: 12px 12px 0px 12px;
}

button.more {
  margin: 12px 0px 12px 9px;
  padding: 8px;
  border-radius: 6px;
  box-shadow: none;
  display: block;
  width: calc(100% - 24px);
  font-weight: bold;
  background-color: #eee;
  border-color: #cfd8dc;
  border-width: 3px;
  border-style: solid;
  color: black;
  text-align: center;
  background: solid;
  -webkit-appearance: none;
}
