/**/
body {
}

header {
  padding-top: 2%;
  margin-top: 2%;
  margin-left: 5%;
  text-align: left;
}

hr.header {
  margin-top: 4%;
  padding-top: 2%;
}

main {
  margin-top: 2%;
  margin-left: 10%;
  max-width: 80%;
}

hr.footer {
  margin-top: 6%;
}

footer {
  margin-left: 5%;
}

footer div {
  margin-right: 5%;
  float: left;
  clear: none;
}
