/**/
body {
}

header {
  margin-top: 50px;
  margin-left: 5%;
  text-align: left;
}

hr.header {
  margin-top: 50px;
}

main {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 10%;
  max-width: 80%;
}

hr.footer {
  margin-top: 50px;
}

footer {
  padding-top: 10px;
  margin-left: 5%;
}

footer div {
  margin-right: 10%;
  float: left;
  clear: none;
}
