<header xmlns="http://www.w3.org/1999/html">
  <h1>{{title}}</h1>
  <h2>{{desc}}</h2>
</header>
<hr class="header"/>
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/rentals" routerLinkActive="active">Rentals</a>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<hr class="footer"/>
<footer>
  <div class="contact">
    <h4>Contact</h4>
    <p><a href="mailto:info@hhr.com">info@hhr.com</a></p>
    <p><a href="tel:049-1234-1234">049-123-123-1</a></p>
    <p><a href="location">Location</a></p>
  </div>
  <div class="legal">
    <h4>Legal</h4>
    <p><a href="conditions">Terms & Conditions</a></p>
    <p><a href="privacy">Privacy Policy</a></p>
  </div>
  <div class="links">
    <h4>Links</h4>
    <p><a href="://example.org">Example</a></p>
    <p><a href="://example.org">Example</a></p>
    <p><a href="://example.org">Example</a></p>
  </div>
</footer>
