<h2>{{rental.name}}</h2>
<h3>{{rental.short_desc}}</h3>
<div class="images">
  <h4>Pictures</h4>
  <div #gallery class="gallery">
    <div *ngFor="let image of rental.images; let i = index" class="image">
      <img #img [src]="image.url" [alt]="image.desc" [title]="image.title"/>
      <button *ngIf="i!=0" class="next" (click)="moveToNextImage(img)">&gt;</button>
      <button *ngIf="i===rental.images.length-1" class="first" (click)="moveToFirstImage(img)">&lt;</button>
    </div>
  </div>
</div>
<br/>
<div class="features">
  <h4>Features</h4>
  <div *ngFor="let feature of rental.features" class="feature"
       [class.crossed]="feature.prohibited" title="{{feature.desc}}">
    <i class="symbol" [innerHtml]="feature.symbol"></i>
    <div *ngIf="feature.people" class="p">Max. {{feature.people}}</div>
    <div *ngIf="feature.space" class="s">{{feature.space}}m²</div>
  </div>
</div>
<div class="desc">
  <h4>Description</h4>
  <p>{{rental.detail_desc}}</p>
</div>
<div class="pricing">
  <details>
    <summary>Weekly Pricing:&emsp;<b>{{rental.weekly_total | number : '1.2-2'}}</b></summary>
    <div class="calculation">
      <pre>
Price per Week:&nbsp;&nbsp;&nbsp;<b>{{rental.day_price * 7.0 | number : '1.2-2'}}</b>&emsp;&emsp;=&nbsp;{{rental.day_price | number : '1.2-2'}} &times; 7
Cleaning Fee:&nbsp;&nbsp;&nbsp;+&nbsp;<b>{{rental.clean_extra | number : '3.2-2'}}</b>
<div *ngIf="isPetsAllowed()" class="pets">Dogs and Pets:&nbsp;&nbsp;+&nbsp;<b>{{rental.pet_extra * rental.pet_number | number : '3.2-2'}}</b>&emsp;&emsp;=&nbsp;{{rental.pet_extra | number : '1.2-2'}}&nbsp;&times;&thinsp;<button class="decr" [disabled]="(rental.pet_number <= 0)" (click)="rental.pet_number = rental.pet_number - 1">-</button>&thinsp;{{rental.pet_number}}&thinsp;<button class="incr" [disabled]="rental.pet_number >= rental.max_pet_number" (click)="rental.pet_number = rental.pet_number + 1">+</button></div><hr/>Total per Week:&nbsp;&nbsp;&nbsp;<b>{{rental.weekly_total | number : '3.2-2'}}</b>
      </pre>
    </div>
  </details>
  <div class="bookings"></div>
  <div class="request">
    <a href={{mailto}}>Request Rental</a>
  </div>
</div>
