
div.images {
  padding-top: 20px;
  float: none;
  clear: both;
}

div.images div.gallery {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

div.images div.gallery div.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

div.images div.gallery div.image button {
  position: absolute;
  width: 200px;
  height: 100%;
  align: center;
  background-color: Transparent;
  border: none;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  text-shadow: 4px 4px black;
  background-color: rgba(0,0,0,0);
  opacity: 0.6;
}

div.images div.gallery div.image button:hover {
  background-color: rgba(0,0,0,0.1);
  opacity: 1;
}

div.images div.gallery div.image button.next {
  left: 0px;
  transform: translate(-100%,0);
}

div.images div.gallery div.image button.first {
  right: 0px
}

div.images div.image img {
  max-height: 380px;
  max-width: 100%;
  align: center;
}

div.app-features {
  padding-top: 10px;
  float: none;
  clear: both;
}

div.desc {
  padding-top: 20px;
  padding-right: 2%;
  float: none;
  clear: left;
}

div.pricing {
  margin-top: 20px;
}

div.pricing details {
  width: auto;
  align-content: left !important;
  align-self: left !important;
}

div.pricing details summary {
}

div.pricing details summary::-webkit-details-marker {
  display: none !important;
}

div.pricing details summary:after {
  content: '' !important;
}

div.pricing details[open] summary:after {
  content: '' !important;
}

div.pricing details div.calculation {
  margin-top: 10px;
  max-width: 100%;
}

div.pricing details div.calculation pre {
  font-family: monospace;
  font-size: 14;
}

div.pricing details div.calculation pre div.pets {
}

div.pricing details div.calculation pre button {
  margin-left: 2px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  background-color: #e7e7e7;
  color: black;
  cursor: pointer;
}

div.pricing details div.calculation pre button:disabled {
    opacity: 0.3;
    cursor: not-allowed !important;
}

div.pricing details div.calculation hr {
  margin-top: 8px;
  margin-bottom: 8px;
  width: auto;
  margin-left: 0;
}

button.booking {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
  box-shadow: none;
  display: block;
  width: 100%;
  font-weight: bold;
  background-color: #eee;
  color: black;
  text-align: center;
  background: solid;
  -webkit-appearance: none;
  border: 0;
}
